@source "../css";
@source "../js";
@source "../../lib/internet_friends_yay_web";

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */

:root {
  --odd-row-bg-color: hsl(0, 10%, 97%);
  --even-row-bg-color: hsl(0, 10%, 100%);
}

.people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.chip {
  display: inline-block;
  padding: 0px 3px;
  border-radius: 3px;
  font-size: 0.6rem;
  font-family: "Arial", "Arial", sans-serif;
  background-color: lightgray;
}

.schedule {
  & table {
    border-collapse: separate;
    border-spacing: 1px;
    font-size: 0.75rem;
  }

  & thead tr {
    position: sticky;
    top: 0;
    background-color: white;
  }
 
  & th {
    white-space: nowrap;
  }
 
  & tbody {
    & th {
      vertical-align: top;
      font-weight: normal;
    }
 
    & td {
      vertical-align: top;
    }
 
    tr:nth-child(4n + 1),
    tr:nth-child(4n + 2) {
      & td,
      & th {
        background-color: var(--odd-row-bg-color);
      }
    }
 
    tr:nth-child(4n),
    tr:nth-child(4n + 3) {
      & td,
      & th {
        background-color: var(--even-row-bg-color);
      }
    }
  }
}
